selenium
undetected-chromedriver
beautifulsoup4
requests
pandas
openpyxl
python-dotenv
ratelimit
sentence-transformers
scikit-learn
matplotlib
seaborn
fake-useragent
setuptools
streamlit
torch==2.10.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
plotly
langchain
langgraph
fastapi
uvicorn